    <section id="portfolio" class="portfolio">
        <div class="container">
        
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>My Skills</h2>
                    <hr class="small">
                   <h3> <p>My education is based on software and web development. Beneath, I have listed all my skills.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-caret-right fa-fw"></i><strong>Web Development</strong>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>PHP</li>
                            <li>jQuery</li>
                            <li>Responsive Design (media queries &amp; Bootstrap)</li>
                            <li>Wordpress (themes, plugins, customize)</li>
                        </li>
                        <li><i class="fa fa-caret-right fa-fw"></i><strong>Software Development</strong>
                            <li>Java</li>
                            <li>C</li>
                            <li>Assembly</li>
                        </li>
                        <li><i class="fa fa-caret-right fa-fw"></i><strong>Other skills</strong>
                        <li>SQL</li>
                        <li>UML 2.0</li>
                        </li>
                    </ul>
                    <p>I always try to keep my code readable, so as to be easily maintained in the future. Also, I have a lot of experience working as a member of a team, and I believe that continuous communication between the co-workers is the key to success.</p></h3>

                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                
                                    <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                                
                            </div>
                        </div>
                        <div class="col-md-6">
						
                            <div class="portfolio-item">
                                
                                    <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                                
                            </div>
                        </div>
					</div>

					<div class="row">

						<!--Aristeri photo-->
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                
                                    <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                                
                            
                                
                                    <img class="img-portfolio img-responsive" src="img/portfolio-5.jpg">
                                
                            </div>
                        </div>
						
						<!--Deksia photo-->
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                
                                    <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                                
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                    <!--<a href="#" class="btn btn-dark">View More Items</a>-->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
